.left-column {
    width: 30%;
}

.main-feed {
    width: 70%;
}

.feed-container {
    width: auto;;
    height: 100vh;
}

.calendar-small, .next-matches {
    width: auto;
    height: 300px;
}

@media only screen and (max-width: 768px) {
    .left-column {
        width: auto;
        flex-direction: row;
    }

    .main-feed {
        width: auto;
    }

    .calendar-small, .next-matches {
        width: 100%;
    }
}