@import url("../components/matches/import.css");

* {
    font-family: "inter", system-ui;
    color: var(--default-font-color);
}

.corpo {
    background-color: #111925;
    min-height: 100vh; 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
}


.perfil-banner {
    width: 100%;
    display: flex;
    flex-direction: column; 
}


.banner img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    display: block;
}


.perfil {
    background-color: #1C3150;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 20px; 
    color: white;
    height: 55px; 
    position: relative;
}

.perfil-esquerdo {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 100%;
}

.perfil-foto img {
    width: 150px; 
    height: 150px;
    border: 3px solid white;
    border-radius: 4px;
    margin-top: -75px; 
    background: #ccc;
    position: relative;
    object-fit: cover;
}

.hexagono-nivel-borda {
    width: 40px;
    height: 42px; 
    background-color: var(--third-color);
    position: relative;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

    display: flex;
    align-items: center;
    justify-content: center;
}

.hexagono-nivel {
    width: 34px;
    height: 36px; 
    background-color: var(--main-color-light);
    position: relative;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
}

.progresso{
    margin-top: 5px;
}

.barra-progresso {
    background-color: var(--third-color);
    height: 8px;
    width: 170px;
    border-radius: 30px;
}

.porcentagem-progresso {
    padding-left: 135px;
}

.equipe-nome {
    font-weight: lighter;
    font-size: 20px;
}

.botão {
    background-color: #4a6fa5;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 2px 8px;
    cursor: pointer;
}


.icones-das-bolas {
    display: flex;
    align-items: center;
}

.icones-das-bolas img {
    height: 40px; 
    width: auto;
}

.corpo-baixo {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    color: white;
}

.esquerdo { flex: 1; }
.meio { flex: 2; }
.direito { flex: 1.5; }

.nome-perfil {
    margin: 35px;
    font-size: 18px;
}

.biografia-perfil {
    height: 200px;
    width: 100%;
    margin-inline: 20px;
    margin-top: 30px;
}

.img-grafico-perfil {
    margin-left: 50px;
    width: 370px;
    height: 300px;
}

.container-insignia {
    background-color: var(--main-color-light);
    width: 25%;
    margin-right: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-function {
    width: 80%;
    height: 100px;
    margin-top: 20px;
    padding-right: 20px;
    background-color: var(--main-color-dark);

    display: flex;
    align-items: center;
}

.img-team-card {
    height: 80%;
    margin-left: 10px;
    border-radius: 2px;

}

.function-class {
    margin-inline: 10px;

    display: flex;
    flex-direction: column;
}

.class-card {
    font-size: 20px;
}

.sport-icon {
    margin-left: auto;
}

.title-insignia {
    font-size: 30px;
    margin-block: 20px;
    margin-right: auto;
    margin-left: 20px;
}

.insignia {
    width: 80%;
    margin-bottom: 10px;
}