/* CSS de elementos simples tipo Containers e Colunas */
div {
    border-radius: var(--default-border-radius);
}

.row-container, .container {
    gap: 12px;
    display: flex;
}

.container {
    padding: 8px;
    flex-direction: column;
}

@media only screen and (max-width: 768px) {
    .row-container {
        flex-direction: column;
    }
}