.match-title, .match-info {
    align-items: center;
}

.match-info {
    color: var(--light-third-color);
}

.match-card, .match-post-card, .post-card {
    background-color: var(--main-color);
    padding: 8px;
    border-radius: 8px;
}

.card-info {
    align-items: center;
    justify-content: space-between;
}

.match-post-card {
    width: auto;
    
    .card-info {
        justify-content: left;
        background: none;
    }
}

.team-points-info {
    justify-content: center;
    align-items: center;
}

.match-result {
    align-items: center;
    justify-content: space-between;
}

.team-profile {
    justify-content: center;
}

.team-name {
    margin: auto;
}

.post-banner {
    width: 100%;
    border-radius: var(--default-border-radius);
}

.post-title {
    font-weight: normal;
}

.post-body {
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}